config/credentials.json
legacy/V4/secrets.json
legacy/version2/__pycache__/.DS_Store
legacy/.DS_Store
legacy/V2/__pycache__/.DS_Store
legacy/version2/.DS_Store
credentials.json
config/.DS_Store
.vscode/
.DS_Store
.vscode/PythonImportHelper-v2-Completion.json
__pycache__/.DS_Store
config/credentials.ini
.DS_Store
.DS_Store
